:root {
    --el-color-primary: var(--el-color-success);
    --el-color-primary-light-3: var(--el-color-success-light-3);
    --el-color-primary-light-5: var(--el-color-success-light-5);
    --el-color-primary-light-7: var(--el-color-success-light-7);
    --el-color-primary-light-8: var(--el-color-success-light-8);
    --el-color-primary-light-9: var(--el-color-success-light-9);
    --el-color-primary-dark-2: var(--el-color-success-dark-2);
    --el-menu-item-height: 30px;
}

.el-menu {
    border-width: 0px;
}

.el-main {
    padding: 0px;
}