:root {
    --el-color-primary-dark-2: #529b2e;
    --el-color-primary: #67c23a;
    --el-color-primary-light-3: #95d475;
    --el-color-primary-light-5: #b3e19d;
    --el-color-primary-light-7: #d1edc4;
    --el-color-primary-light-8: #e1f3d8;
    --el-color-primary-light-9: #f0f9eb;
}

.el-container {
    height: 100%;
    width: 100%;
    padding: 0;
}

.el-header {
    padding: 0;
}

.el-main {
    height: 100%;
    width: 100%;
    padding: 0;
}

.el-footer {
    padding: 0;
}

.billadm-vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billadm-vertical-all-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.billadm-horizontal-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}